{{- $root := . }}
{{- define "cronJob" -}}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ template "defaultname" (dict "name" .cronJob.name "root" .root) }}
  labels:
    app: {{ template "name" .root }}
    chart: {{ .root.Chart.Name }}-{{ .root.Chart.Version }}
    heritage: {{ .root.Release.Service }}
    release: {{ .root.Release.Name }}
    {{- range $key, $value := (.labels | default dict) }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- if .annotations }}
  annotations:
{{- range $key, $value := (.annotations | default dict) }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
spec:
  schedule: {{ .cronJob.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: {{ .cronJob.restartPolicy }}
          containers:
          - name: {{ .cronJob.name }}
            image: {{ .cronJob.image }}
            imagePullPolicy: {{ .imagePullPolicy }}
            resources:
{{ .cronJob.resources | toYaml | indent 14 }}
{{- if .cronJob.sharedEnv }}
            envFrom:
            - configMapRef:
                name: {{ template "fullname" .root }}
{{- end }}
{{- if .cronJob.env }}
            env:
{{ .cronJob.env | toYaml | indent 12 }}
{{- end }}
{{- if .cronJob.imagePullAuth }}
          imagePullSecrets:
          - name: {{ template "fullname" .root }}-docker
{{- end }}
{{- end }}

{{- range .Values.webservice.cronJobs }}
{{ template "cronJob" (dict "cronJob" . "root" $root) }}
---
{{- end }}

{{- if .Values.webservice.cronJob }}
{{ template "cronJob" (dict "cronJob" .Values.webservice.cronJob "root" $root) }}
{{- end }}