{{ $root := . }}
{{- if .Values.webservice.ingress.enabled -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
{{- if or .Values.webservice.ingress.annotations .Values.webservice.ingress.tlsAcme }}
  annotations:
{{- if .Values.webservice.ingress.tlsAcme }}
    kubernetes.io/tls-acme: "true"
{{- end }}
{{- with .Values.webservice.ingress.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- end }}
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    {{ range $key, $value := (.Values.webservice.ingress.labels | default dict) }}
    {{ $key }}: {{ $value | quote }}
    {{ end }}
spec:
{{- if .Values.webservice.ingress.className }}
  ingressClassName: {{ .Values.webservice.ingress.className }}
{{- end }}
  rules:
    {{ range .Values.webservice.hosts }}
    - host: {{ . }}
      http:
        paths:
{{ if  $root.Values.webservice.additionalPaths }}
{{ $root.Values.webservice.additionalPaths | toYaml | indent 10 }}
{{ end }}
          - backend:
              service:
                name: {{ template "fullname" $root }}
                port:
                  number: 80
            pathType: Prefix
            path: /
    {{ end }}
  tls:
    - hosts:
        {{ range .Values.webservice.hosts }}
        - {{ . }}
        {{ end }}
      secretName: {{ template "fullname" $root }}--tls
{{- end }}
