{{- if .Values.webservice.service.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: {{ .Values.webservice.port }}
  selector:
    app: {{ template "name" . }}
    release: {{ .Release.Name }}
{{- end }}