{{ $root := . }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  schedule: {{ .Values.cronjob.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: {{ .Values.cronjob.restartPolicy }}
          containers:
            - name: {{ template "fullname" . }}
              image: "{{ .Values.cronjob.image.repository }}:{{ .Values.cronjob.image.tag }}"
              imagePullPolicy: {{ .Values.cronjob.image.pullPolicy }}
{{- if .Values.cronjob.securityContext }}
              securityContext:
{{- .Values.cronjob.securityContext | toYaml | nindent 16 }}
{{- end }}

{{- if .Values.cronjob.env }}
              envFrom:
{{- if .Values.cronjob.env.secret }}
                - secretRef:
                    name: {{ template "fullname" . }}
{{- end }}
{{- if .Values.cronjob.env.plaintext }}
                - configMapRef:
                    name: {{ template "fullname" . }}
{{- end }}
{{- end }}

              resources:
{{- .Values.cronjob.resources | toYaml | nindent 16 }}
{{- if .Values.cronjob.livenessProbe }}
              livenessProbe:
{{- .Values.cronjob.livenessProbe | toYaml | nindent 16 }}
{{- end }}
{{- if .Values.cronjob.readinessProbe }}
              readinessProbe:
{{- .Values.cronjob.readinessProbe | toYaml | nindent 16 }}
{{- end }}
{{- if .Values.cronjob.volumes }}
              volumeMounts:
{{- range .Values.cronjob.volumes }}
{{- if .mountPath }}
                - mountPath: {{ .mountPath }}
                  subPath: {{ .subPath }}
                  name: {{ .name }}
{{- end }}
{{- end }}
{{- end }}

{{- if .Values.cronjob.additionalContainers }}
{{- range .Values.cronjob.additionalContainers }}
            - name: {{ .name }}
{{ .container | toYaml | nindent 14 }}

{{- if .env }}
              envFrom:
{{- if .env.secret }}
                - secretRef:
                    name: "{{ template "fullname" $root }}-{{ .name }}"
{{- end }}
{{- if .env.plaintext }}
                - configMapRef:
                    name: "{{ template "fullname" $root }}-{{ .name }}"
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- if .Values.cronjob.nodeSelector }}
          nodeSelector:
{{- .Values.cronjob.nodeSelector | toYaml | nindent 14 }}
{{- end }}

{{- if .Values.cronjob.initContainers }}
          initContainers:
{{- range .Values.cronjob.initContainers }}
            - name: {{ .name }}
{{ .container | toYaml | nindent 14 }}

{{- if .env }}
              envFrom:
{{- if .env.secret }}
                - secretRef:
                    name: "{{ template "fullname" $root }}-{{ .name }}"
{{- end }}
{{- if .env.plaintext }}
                - configMapRef:
                    name: "{{ template "fullname" $root }}-{{ .name }}"
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- if .Values.cronjob.imagePullAuth }}
          imagePullSecrets:
            - name: {{ template "fullname" . }}-docker
{{- end }}

{{- if .Values.cronjob.volumes }}
          volumes:
{{- range .Values.cronjob.volumes }}
{{- if .storage }}
            - name: {{ .name }}
              persistentVolumeClaim:
                claimName: {{ template "fullname" $root }}-{{ .name }}
{{- end }}
{{- if .configMap }}
            - name: {{ .name }}
              configMap:
                name: {{ .configMap.name }}
{{- end }}
{{- if .secret }}
            - name: {{ .name }}
              secret:
                secretName: {{ .secret.name }}
                optional: {{ .secret.optional }}
{{- end }}
{{- end }}
{{- end }}
