---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    k8s-app: {{ include "common.names.fullname" . }}
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  updateStrategy: {{- toYaml .Values.updateStrategy | nindent 4 }}
  selector:
    matchLabels:
      k8s-app: {{ include "common.names.fullname" . }}
  template:
    metadata:
      labels:
        k8s-app: {{ include "common.names.fullname" . }}
      annotations:
        prometheus.io/port: "9253"
        prometheus.io/scrape: "true"
    spec:
      priorityClassName: system-node-critical
      serviceAccountName: {{ include "common.names.fullname" . }}
      hostNetwork: true
      dnsPolicy: Default  # Don't use cluster DNS.
      tolerations:
      - key: "CriticalAddonsOnly"
        operator: "Exists"
      - effect: "NoExecute"
        operator: "Exists"
      - effect: "NoSchedule"
        operator: "Exists"
      containers:
      - name: node-cache
        image: {{ include "node-cache.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
        resources: {{- toYaml .Values.resources | nindent 10 }}
        args: 
          - -localip
          - 169.254.0.100,10.3.0.10
          - -conf
          - /etc/Corefile
          - -upstreamsvc
          - {{ printf "%s-upstream" (include "common.names.fullname" .) }}
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        ports:
        - containerPort: 53
          name: dns
          protocol: UDP
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 9253
          name: metrics
          protocol: TCP
        livenessProbe:
          httpGet:
            host: 169.254.0.100
            path: /health
            port: 8080
          initialDelaySeconds: 60
          timeoutSeconds: 5
        volumeMounts:
        - mountPath: /run/xtables.lock
          name: xtables-lock
          readOnly: false
        - name: config-volume
          mountPath: /etc/coredns
        - name: kube-dns-config
          mountPath: /etc/kube-dns
      volumes:
      - name: xtables-lock
        hostPath:
          path: /run/xtables.lock
          type: FileOrCreate
      - name: kube-dns-config
        configMap:
          name: kube-dns
          optional: true
      - name: config-volume
        configMap:
          name: {{ include "common.names.fullname" . }}
          items:
            - key: Corefile
              path: Corefile.base

