apiVersion: v1
kind: Secret
metadata:
  name: {{ include "backup.fullname" . }}
stringData:
  {{- if .Values.repository.password }}
  RESTIC_PASSWORD: {{ .Values.repository.password | quote }}
  {{- else }}
  RESTIC_PASSWORD: {{ randAlphaNum 10 | quote }}
  {{- end }}
  AWS_ACCESS_KEY_ID: {{ .Values.repository.credentials.awsAccessKeyId }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.repository.credentials.awsSecretAccessKey }}
  # {{- if hasPrefix "s3:" .Values.repository.uri }}
  RESTIC_REPOSITORY: {{ .Values.repository.uri }}
  # {{- end }}
  {{- if and .Values.database.auth (not .Values.database.auth.existingSecret) }}
  DB_CONFIG_USER: {{ .Values.database.auth.user }}
  DB_CONFIG_PASSWORD: {{ .Values.database.auth.password }}
  {{- end }}
  DB_CONFIG_HOST: {{ .Values.database.host }}
  DB_CONFIG_PORT: {{ .Values.database.port | quote }}
  DB_DATABASE: {{ .Values.database.databaseName }}
  WAIOB_SYSLOG_FORCE_COLOR: {{ .Values.waiobArgs.syslogForceColor | quote }}
  WAIOB_ADAPTER: {{ .Values.waiobArgs.adapter }}
  WAIOB_RETENTION_POLICY: {{ .Values.waiobArgs.retentionPolicy }}
