general:
  # Create SealedSecret with encrypted value 
  # instead of Secret with plaintext value
  sealedSecrets: false

cronjob:
  schedule: "0 1 * * *"
  image:
  imagePullPolicy: Always
  imagePullAuth:
    registry: ""
    username: ""
    password: ""
    # sealedSecrets must be enabled
    encrypted: ""
  additionalContainers: []
  initContainers: []
  securityContext: {}
  restartPolicy: OnFailure
  resources: {}
    # requests:
    #   memory: "512Mi"
    #   cpu: "250m"
    # limits:
    #   memory: "1Gi"
    #   cpu: "500m"
      
  env:
    plaintext: {}
    #  PLAINTEXT_VAR: value 

    # If using general.sealedSecrets, encrypted value must be used for secret
    secret: {}
    #  SECRET_VAR: value or encryptedValue

  nodeSelector: {}
  storage: {}
  volumes: []
